# Database Configuration
DB_USER=wallet_user
DB_PASSWORD=wallet_password
DB_HOST=db
DB_PORT=5432
DB_NAME=wallet_db

# Test Database Configuration
TEST_DB_USER=wallet_user
TEST_DB_PASSWORD=wallet_password
TEST_DB_HOST=test_db
TEST_DB_PORT=5432
TEST_DB_NAME=wallet_test_db